/* Write your CSS Here. */
* {
  box-sizing: border-box;
}

.maze-div {
  display: grid;
  grid-template-columns: repeat(21, 30px);
  margin: 20px;
}


.block {
  width: 30px;
  height: 30px;

  align-items: center;
  justify-content: center;
}

.wall {
  background-color: lightcyan;
}

.floor {
  background-color: white;
}

.start {
  background-color: lightgreen;
}

.finish {
  background-color: red;
}
