/* Write your CSS Here. */
* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  color: darkorange;
  font-size: 50px;
}

#message {
  font-size: large;
  margin-bottom: 40px;
  color: darkorange;
}
.maze-div {
  margin: 20px;
  margin-bottom: 40px;
}

.maze-row {
  display: flex;
}

.block {
  width: 30px;
  height: 30px;
  display: inline-block;
  margin: 0;
  padding: 0;
}

.wall {
  background-color: green;
}

.floor {
  background-color: white;
}

.player {
  background-color: orange;
  border: 2px solid darkorange;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

#switchMapButton {
  background-color: rgb(157, 238, 157);
  padding: 10px;
  border: 1px solid darkgreen;
  border-radius: 5px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: large;
}
